<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>联系我们</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Your description" name="description">
    <meta content="Your keywords" name="keywords">
    <meta content="Your name" name="author">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=IzPsIKhu3fFt9elLAlOnct1Xez7wKLbN" type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="not-front page-contacts">

<div id="main">
    <!-- head 头部 -->
    <div id="head" th:include="common/index_header :: copyheader"></div>

    <div align="center" id="google_map2_wrapper">
        <div id="dituContent" style="width:100%;height:300px;border:#ccc solid 1px;"></div>
    </div>

    <div class="breadcrumbs1_wrapper">
        <div class="container">
            <div class="breadcrumbs1"><a href="view">首页</a><span>/</span>联系我们</div>
        </div>
    </div>
    <div id="content">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <h3>联系我们</h3>
                    <p>
                        我们恭候您的批评，鼓励，意见，我们会做的更好！
                    </p>
                    <br>
                    <h4>地址：</h4>
                    <p>
                        <br>龙亭区，开封，河南，中国<br>
                        <a href="#">1465088322@qq.com</a>
                    </p>
                    <h4>电话：</h4>

                    <p>+86 1234567890<br>
                    </p>
                </div>
                <div class="col-sm-6">
                    <h3>您的信息</h3>

                    <div id="note"></div>
                    <div id="fields">
                        <form action="javascript:alert('success!');" class="form-horizontal" id="ajax-contact-form">

                            <div class="form-group">
                                <label for="inputName">Your Name</label>
                                <input class="form-control" id="inputName" name="name" onBlur="if(this.value=='') this.value='Full Name'" onFocus="if(this.value =='Full Name' ) this.value=''"
                                       type="text"
                                       value="您的名称">
                            </div>

                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input class="form-control" id="inputEmail" name="email" onBlur="if(this.value=='') this.value='E-mail address'"
                                       onFocus="if(this.value =='E-mail address' ) this.value=''" type="text"
                                       value="邮箱">
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="inputMessage">Your Message</label>
                                        <textarea class="form-control" id="inputMessage" name="content" onBlur="if(this.value=='') this.value='Message'"
                                                  onFocus="if(this.value =='Message' ) this.value=''"
                                                  rows="7">信息</textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="btn-default btn-cf-submit" onclick="test()" type="submit">发送
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--底部-->
    <div th:include="common/index_footer :: copyfooter"></div>

</div>
<script src="../../static/js/bootstrap.min.js"></script>
</body>


<script th:inline="javascript" type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
    }

    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(116.395645, 39.929986);//定义一个中心点坐标
        map.centerAndZoom(point, 12);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }

    initMap();//创建和初始化地图


</script>

<script>
    function test() {
        swal("SUCCESS", "You clicked the button!", "success");
    }
</script>
</html>

